
html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-size: 12px;
  margin: 0 1em 0 1em;
}

h1 {
  text-align: center;
}

nav {
  margin: 0;
  overflow: hidden;
  padding: 0;
  text-align: center;
  clear: both;
}

.nav li {
  float: left;
  width: 25%;
  list-style-type: none;
}

dl {
  list-style: none;
}

.wonders {
  width: 100%;
}

.atlantis {
  margin: 0;
}
