
html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

@-moz-viewport { width: device-width; scale: 1;}
@-ms-viewport { width: device-width; scale: 1;}
@-o-viewport { width: device-width; scale: 1;}
@-webkit-viewport { width: device-width; scale: 1;}
@viewport { width: device-width; scale: 1;}

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  font-size: 0.75rem;
  margin: 0;
  font-family: 'Roboto', cursive;
}

/*-------------masthead----------*/

a {
  text-decoration: none;
}

.logo {
  margin: 0 auto;
  width: 25%;
  padding: 0.5em;
}

.buy-button {
  text-align: center;
  width: 45%;
  text-decoration: none;
  font-size: 1rem;
  border-radius: 8px;
  background-color: lavender;
  margin: auto;
  padding: 0.5em 0;
  font-weight: bold;
}

h1 {
  text-align: center;
  padding: 0.5em 0 0.5em 0;
  margin: 0;
  clear: both;
}

@media only screen and (min-width: 20em) {

  .logo {
    float: left;
    width: 25%;
  }

  .buy-button {
    float: right;
    width: 45%;
    padding: 0.5em;
    vertical-align: middle;
    margin: 0.5em;
  }

}

/*-----------------NAV-------------------------*/

a:hover {
  color: #fff;
}

.nav a {
  display: block;
  padding: 0.25em 1em 0.25em 1em;
}

.nav {
  padding: 0;
  margin: 0;
  background-color: lavender;
}

.nav li {
  list-style-type: none;
  margin: 0;
  padding: 0.5em 0 0.5em 0;
  text-align: center;
  display: block;
  width: 100%;
}

@media only screen and (min-width: 20em) {

  .nav {
    margin: 0;
    overflow: hidden;
    clear: both;
    background-color: lavender;
  }

  .nav li {
    float: left;
    width: 25%;
  }

  .nav a {
    padding: 0.5em;
  }

}

/*-------------BANNER----------*/

figure {
  width: 100%;
  position: relative;
  margin: 0;
}

.banner-image {
  width: 100%;
  margin: 0;
}

.banner-text {
  position: absolute;
  bottom: 1rem;
  color: white;
  text-align: center;
  width: 100%;
}

@media only screen and (min-width: 20em) {

  .banner-text {
    padding: 0 3em;
  }
}

/*-------------seven wonders----------*/

h2 {
  clear: both;
  text-align: center;
  font-weight: 700;
  padding: 0.75em 0 0.25em 0;
  border-top-style: solid;
  border-top-width: thin;
  display: block;
  margin: 0;
}

.seven-wonders {
  border-top-style: none;
}

.wonders {
  width: 100%;
  padding: 1em 0 0 0;
  overflow: hidden;
  margin: 0 1em 0 1em;
}

h3 {
  margin: 0.25em 1em 0 1em;
}

dl {
  list-style: none;
  display: inline;
}

dt {
  float: left;
  clear: both;
  margin: 0 1em 0 1em;
}

dd {
  float: left;
  margin: 0 0 0 0.25em;
}

.wonders-link {
  text-align: center;
  clear: both;
  padding: 1em 0 0 0;
}

/*-------------buy tix----------*/

.tickets-text {
  text-align: center;
  padding: 0 0.5em 0 0.5em;
}

.left-button, .right-button {
  float: left;
  text-align: center;
  width: 50%;
  padding: 1em;
  background-color: lavender;
  border-style: solid;
  border-width: thick;
  border-color: white;
  border-radius: 13px;
}

.buy-tix-section {
  margin: 0 0 1em 0;
}

/*-------------now playing----------*/

.banner-2 {
  margin: 1em 0;
}

/*-------------this week----------*/

.this-week {
  padding: 0;
}

.activities li {
  list-style-type: none;
}

/*-------------footer----------*/

footer {
  border-top-style: solid;
  border-top-width: thin;
  margin: 0 1em 0 1em;
  background-color: lavender;
}

.activities  {
  padding: 0 0 0 2em;
}

.contact {
  padding: 0;
}

.contact li {
  list-style-type: none;
}

.footer-nav {
  margin: 0;
  text-align:left;
  padding: 0;
  list-style-type: none;
  background-color: none;
}
